<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>
</head>

<body>
    <h2 style="color: #2e6c80;">List of device interfaces with Type = {{type}} and Status = {{status}}:</h2>
    <h3 style="color: #2e6c80;">Total: {{count_row}}</h3>
    <table>
        <h1>
            <!--Displaying the converted table-->
            {% for data in data1 %}
            <h2>{{titles[loop.index]}}</h2>
            {{ data|safe }}
            {% endfor %}
        </h1>
    </table>
</body>

</html>